#left-column{
    width: 400px;
    bottom: 0;
    top: auto;
    left: 0;
    border-right: 1px solid #919191;
    box-sizing: border-box;
    float: left;
    padding: 10px;
}

#product-list{
    float: left;
    margin-left: 20px;
    width: 560px;
}

